@model ISBolnicaMVC.Pacijent.PacijentiVM

@{
    ViewBag.Title = "Pacijenti";
}
<br />
<h2>Pacijenti</h2>

<a asp-action="Create" asp-controller="Pacijent" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Dodaj pacijenta</a>
<br />
<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-end">
</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@( !Model.PagingInfo.Ascending )">
                    Id
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(!Model.PagingInfo.Ascending )">
                    Oib
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(!Model.PagingInfo.Ascending )">
                    Ime
                </a>
            </th>
            <th>
                <a asp-route-sort="4" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@( !Model.PagingInfo.Ascending )">
                    Prezime
                </a>
            </th>
            <th>
                <a asp-route-sort="5" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(!Model.PagingInfo.Ascending )">
                    Spol
                </a>
            </th>
            <th>
                <a asp-route-sort="6" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(!Model.PagingInfo.Ascending )">
                    Krvna grupa
                </a>
            </th>
            <th>
                <a asp-route-sort="7" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(!Model.PagingInfo.Ascending )">
                    Datum rodenja
                </a>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pacijent in Model.Pacijenti)
        {
            <tr>
                <td>@pacijent.PacijentId</td>
                <td class="text-left">@pacijent.Oib</td>
                <td class="text-left">@pacijent.Ime</td>
                <td class="text-left">@pacijent.Prezime</td>
                <td class="text-left">@pacijent.Spol</td>
                <td class="text-left">@pacijent.KrvnaGrupa</td>
                <td class="text-left">@pacijent.DatumRodenja.ToString("dd.MM.yyyy.")</td>
                <td><a asp-action="Edit" asp-route-id="@pacijent.PacijentId" class="btn btn-sm btn-primary"><i class="fa">Detalji</i></a></td>
                <td><a asp-action="Delete" asp-route-id="@pacijent.PacijentId" class="btn btn-sm btn-danger"><i class="fa">Obriši</i></a></td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
}